<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
        tools:targetApi="34" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"
        tools:targetApi="34" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"
        tools:targetApi="34" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
        tools:ignore="HighSamplingRate" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwiftSense">

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider">
            <meta-data
                android:name="moe.shizuku.client.V3_SUPPORT"
                android:value="true" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".feature.boostsensors.BoostSensorsService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:targetApi="34" />

        <service
            android:name=".feature.systemtables.SystemMacroService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:targetApi="34" />

        <service
            android:name=".feature.amoledscreenprotect.AmoledProtectService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:label="@string/amoled_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy"
            tools:targetApi="34">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/amoled_service_config" />
        </service>

        <service
            android:name=".feature.screenrecorder.ScreenRecorderService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|microphone" />

        <activity
            android:name=".feature.screenrecorder.ScreenRecorderPromptActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".feature.screenrecorder.ScreenRecorderTileService"
            android:exported="true"
            android:icon="@drawable/videocam_24px"
            android:label="@string/feature_screen_recorder"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".feature.boostsensors.BoostSensorsTileService"
            android:exported="true"
            android:icon="@drawable/ic_bolt_24px"
            android:label="@string/feature_boost_sensors"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".feature.alwaysondisplay.AlwaysOnDisplayActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <service
            android:name=".feature.alwaysondisplay.AlwaysOnDisplayService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/aod_service_name"
            android:foregroundServiceType="specialUse"
            tools:targetApi="34">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/aod_accessibility_config" />
        </service>

        <service
            android:name=".feature.alwaysondisplay.AlwaysOnDisplayTileService"
            android:exported="true"
            android:icon="@drawable/ic_aod_24px"
            android:label="@string/feature_always_on_display"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>
